# modelService
modelService/__pycache__
modelService/*/__pycache__
modelService/venv
modelService/dataset


# backend
backend/node_modules
backend/generated/prisma
backend/.env
backend/uploads
backend/snapshots

# frontend
frontend/node_modules
frontend/.env

# mediamtx
mediamtx/LICENSE
mediamtx/mediamtx.exe