--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-2.pgdg120+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-2.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: alert_status; Type: TYPE; Schema: public; Owner: safecity
--

CREATE TYPE public.alert_status AS ENUM (
    'OPEN',
    'ACKNOWLEDGED',
    'RESOLVED',
    'DISMISSED'
);


ALTER TYPE public.alert_status OWNER TO safecity;

--
-- Name: alert_type; Type: TYPE; Schema: public; Owner: safecity
--

CREATE TYPE public.alert_type AS ENUM (
    'CCTV_MATCH',
    'CASE_UPDATE',
    'SYSTEM'
);


ALTER TYPE public.alert_type OWNER TO safecity;

--
-- Name: camera_status; Type: TYPE; Schema: public; Owner: safecity
--

CREATE TYPE public.camera_status AS ENUM (
    'ACTIVE',
    'DISABLED',
    'MAINTENANCE'
);


ALTER TYPE public.camera_status OWNER TO safecity;

--
-- Name: camera_type; Type: TYPE; Schema: public; Owner: safecity
--

CREATE TYPE public.camera_type AS ENUM (
    'FIXED',
    'PTZ',
    'MOBILE',
    'DRONE'
);


ALTER TYPE public.camera_type OWNER TO safecity;

--
-- Name: case_status; Type: TYPE; Schema: public; Owner: safecity
--

CREATE TYPE public.case_status AS ENUM (
    'SUBMITTED',
    'UNDER_REVIEW',
    'APPROVED',
    'REJECTED',
    'WITHDRAWN',
    'CLOSED'
);


ALTER TYPE public.case_status OWNER TO safecity;

--
-- Name: case_type; Type: TYPE; Schema: public; Owner: safecity
--

CREATE TYPE public.case_type AS ENUM (
    'MISSING',
    'WANTED'
);


ALTER TYPE public.case_type OWNER TO safecity;

--
-- Name: detection_status; Type: TYPE; Schema: public; Owner: safecity
--

CREATE TYPE public.detection_status AS ENUM (
    'UNKNOWN',
    'POSSIBLE',
    'CONFIRMED',
    'FALSE_POSITIVE',
    'REVIEWED'
);


ALTER TYPE public.detection_status OWNER TO safecity;

--
-- Name: embedding_status; Type: TYPE; Schema: public; Owner: safecity
--

CREATE TYPE public.embedding_status AS ENUM (
    'ACTIVE',
    'REVOKED',
    'DEPRECATED'
);


ALTER TYPE public.embedding_status OWNER TO safecity;

--
-- Name: person_category; Type: TYPE; Schema: public; Owner: safecity
--

CREATE TYPE public.person_category AS ENUM (
    'MISSING',
    'WANTED'
);


ALTER TYPE public.person_category OWNER TO safecity;

--
-- Name: person_gender; Type: TYPE; Schema: public; Owner: safecity
--

CREATE TYPE public.person_gender AS ENUM (
    'MALE',
    'FEMALE',
    'OTHER',
    'UNKNOWN'
);


ALTER TYPE public.person_gender OWNER TO safecity;

--
-- Name: person_type; Type: TYPE; Schema: public; Owner: safecity
--

CREATE TYPE public.person_type AS ENUM (
    'MISSING',
    'WANTED'
);


ALTER TYPE public.person_type OWNER TO safecity;

--
-- Name: photo_source; Type: TYPE; Schema: public; Owner: safecity
--

CREATE TYPE public.photo_source AS ENUM (
    'USER_UPLOAD',
    'ADMIN_UPLOAD',
    'CCTV_FRAME',
    'SYSTEM_GENERATED'
);


ALTER TYPE public.photo_source OWNER TO safecity;

--
-- Name: photo_status; Type: TYPE; Schema: public; Owner: safecity
--

CREATE TYPE public.photo_status AS ENUM (
    'UPLOADED',
    'APPROVED',
    'REJECTED',
    'ARCHIVED'
);


ALTER TYPE public.photo_status OWNER TO safecity;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: safecity
--

CREATE TYPE public.user_role AS ENUM (
    'USER',
    'ADMIN',
    'SUPER_ADMIN'
);


ALTER TYPE public.user_role OWNER TO safecity;

--
-- Name: enforce_admin_assignment(); Type: FUNCTION; Schema: public; Owner: safecity
--

CREATE FUNCTION public.enforce_admin_assignment() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    admin_role user_role;
BEGIN
    IF NEW.assigned_admin IS NOT NULL THEN
        SELECT role INTO admin_role FROM users WHERE id = NEW.assigned_admin;

        IF admin_role NOT IN ('ADMIN', 'SUPER_ADMIN') THEN
            RAISE EXCEPTION 'Assigned user is not an admin';
        END IF;

        NEW.assigned_at = now();
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.enforce_admin_assignment() OWNER TO safecity;

--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: safecity
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = now();
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_updated_at() OWNER TO safecity;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: safecity
--

CREATE TABLE public.alerts (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    alert_type public.alert_type NOT NULL,
    status public.alert_status DEFAULT 'OPEN'::public.alert_status NOT NULL,
    case_id uuid,
    person_id uuid,
    cctv_log_id uuid,
    camera_id uuid,
    confidence real,
    message text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    acknowledged_by uuid,
    acknowledged_at timestamp with time zone,
    resolved_by uuid,
    resolved_at timestamp with time zone,
    CONSTRAINT alerts_confidence_check CHECK (((confidence >= (0)::double precision) AND (confidence <= (1)::double precision)))
);


ALTER TABLE public.alerts OWNER TO safecity;

--
-- Name: case_person; Type: TABLE; Schema: public; Owner: safecity
--

CREATE TABLE public.case_person (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    case_id uuid NOT NULL,
    category public.person_category NOT NULL,
    full_name text,
    alias text,
    gender public.person_gender DEFAULT 'UNKNOWN'::public.person_gender,
    age integer,
    height_cm integer,
    weight_kg integer,
    skin_tone text,
    eye_color text,
    hair_color text,
    last_known_clothing text,
    distinguishing_marks text,
    description text,
    is_primary boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT case_person_age_check CHECK ((age >= 0)),
    CONSTRAINT case_person_height_cm_check CHECK ((height_cm > 0)),
    CONSTRAINT case_person_weight_kg_check CHECK ((weight_kg > 0))
);


ALTER TABLE public.case_person OWNER TO safecity;

--
-- Name: case_person_photos; Type: TABLE; Schema: public; Owner: safecity
--

CREATE TABLE public.case_person_photos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    case_person_id uuid NOT NULL,
    uploaded_by uuid,
    source public.photo_source NOT NULL,
    file_path text NOT NULL,
    file_hash text,
    status public.photo_status DEFAULT 'UPLOADED'::public.photo_status NOT NULL,
    is_primary boolean DEFAULT false,
    face_detected boolean DEFAULT false,
    face_quality_score real,
    embedding_generated boolean DEFAULT false,
    approved_by uuid,
    approved_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT case_person_photos_face_quality_score_check CHECK (((face_quality_score >= (0)::double precision) AND (face_quality_score <= (1)::double precision)))
);


ALTER TABLE public.case_person_photos OWNER TO safecity;

--
-- Name: cases; Type: TABLE; Schema: public; Owner: safecity
--

CREATE TABLE public.cases (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    case_number text NOT NULL,
    case_type public.case_type NOT NULL,
    status public.case_status DEFAULT 'SUBMITTED'::public.case_status NOT NULL,
    title text NOT NULL,
    description text,
    created_by uuid NOT NULL,
    assigned_admin uuid,
    assigned_at timestamp with time zone,
    last_seen_location text,
    last_seen_time timestamp with time zone,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.cases OWNER TO safecity;

--
-- Name: cctv_cameras; Type: TABLE; Schema: public; Owner: safecity
--

CREATE TABLE public.cctv_cameras (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    camera_code text NOT NULL,
    camera_name text,
    camera_type public.camera_type DEFAULT 'FIXED'::public.camera_type NOT NULL,
    status public.camera_status DEFAULT 'ACTIVE'::public.camera_status NOT NULL,
    location_description text,
    latitude double precision,
    longitude double precision,
    ip_address text,
    stream_url text,
    installed_by uuid,
    installed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.cctv_cameras OWNER TO safecity;

--
-- Name: cctv_logs; Type: TABLE; Schema: public; Owner: safecity
--

CREATE TABLE public.cctv_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    camera_id uuid NOT NULL,
    detected_person_id uuid,
    detection_status public.detection_status NOT NULL,
    confidence real,
    bbox_x1 integer NOT NULL,
    bbox_y1 integer NOT NULL,
    bbox_x2 integer NOT NULL,
    bbox_y2 integer NOT NULL,
    snapshot_path text,
    model_name text NOT NULL,
    model_version text NOT NULL,
    detected_at timestamp with time zone DEFAULT now() NOT NULL,
    reviewed_by uuid,
    reviewed_at timestamp with time zone,
    notes text,
    CONSTRAINT cctv_logs_confidence_check CHECK (((confidence >= (0)::double precision) AND (confidence <= (1)::double precision)))
);


ALTER TABLE public.cctv_logs OWNER TO safecity;

--
-- Name: face_embeddings; Type: TABLE; Schema: public; Owner: safecity
--

CREATE TABLE public.face_embeddings (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    case_person_id uuid NOT NULL,
    photo_id uuid NOT NULL,
    embedding public.vector(512) NOT NULL,
    model_name text NOT NULL,
    model_version text NOT NULL,
    embedding_status public.embedding_status DEFAULT 'ACTIVE'::public.embedding_status NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.face_embeddings OWNER TO safecity;

--
-- Name: users; Type: TABLE; Schema: public; Owner: safecity
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    role public.user_role DEFAULT 'USER'::public.user_role NOT NULL,
    full_name text NOT NULL,
    email text NOT NULL,
    phone text,
    password_hash text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO safecity;

--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: safecity
--

COPY public.alerts (id, alert_type, status, case_id, person_id, cctv_log_id, camera_id, confidence, message, created_at, acknowledged_by, acknowledged_at, resolved_by, resolved_at) FROM stdin;
\.


--
-- Data for Name: case_person; Type: TABLE DATA; Schema: public; Owner: safecity
--

COPY public.case_person (id, case_id, category, full_name, alias, gender, age, height_cm, weight_kg, skin_tone, eye_color, hair_color, last_known_clothing, distinguishing_marks, description, is_primary, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: case_person_photos; Type: TABLE DATA; Schema: public; Owner: safecity
--

COPY public.case_person_photos (id, case_person_id, uploaded_by, source, file_path, file_hash, status, is_primary, face_detected, face_quality_score, embedding_generated, approved_by, approved_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: cases; Type: TABLE DATA; Schema: public; Owner: safecity
--

COPY public.cases (id, case_number, case_type, status, title, description, created_by, assigned_admin, assigned_at, last_seen_location, last_seen_time, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: cctv_cameras; Type: TABLE DATA; Schema: public; Owner: safecity
--

COPY public.cctv_cameras (id, camera_code, camera_name, camera_type, status, location_description, latitude, longitude, ip_address, stream_url, installed_by, installed_at, created_at, updated_at) FROM stdin;
4c4cdd5b-dfcf-4917-9c6a-ef93fdd36ca0	CAM_TEST_001	Main Road Junction	FIXED	ACTIVE	Near city bus stand	15.2993	74.124	\N	\N	\N	\N	2025-12-26 14:44:27.413569+00	2025-12-26 14:44:27.413569+00
\.


--
-- Data for Name: cctv_logs; Type: TABLE DATA; Schema: public; Owner: safecity
--

COPY public.cctv_logs (id, camera_id, detected_person_id, detection_status, confidence, bbox_x1, bbox_y1, bbox_x2, bbox_y2, snapshot_path, model_name, model_version, detected_at, reviewed_by, reviewed_at, notes) FROM stdin;
\.


--
-- Data for Name: face_embeddings; Type: TABLE DATA; Schema: public; Owner: safecity
--

COPY public.face_embeddings (id, case_person_id, photo_id, embedding, model_name, model_version, embedding_status, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: safecity
--

COPY public.users (id, role, full_name, email, phone, password_hash, is_active, is_verified, created_at, updated_at) FROM stdin;
7ea91a0f-5ef8-4fcf-acdb-d7f550eea585	SUPER_ADMIN	aditya	superadmin@safecity.ai	\N	$2a$10$VxNDN.NkrZbCI.7g664QCe8VMKcy7RiLULvMingF1pyP/XoYD76cy	t	f	2025-12-26 14:17:35.478501+00	2025-12-26 14:17:35.478501+00
\.


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: case_person case_person_case_id_is_primary_key; Type: CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.case_person
    ADD CONSTRAINT case_person_case_id_is_primary_key UNIQUE (case_id, is_primary);


--
-- Name: case_person_photos case_person_photos_file_hash_key; Type: CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.case_person_photos
    ADD CONSTRAINT case_person_photos_file_hash_key UNIQUE (file_hash);


--
-- Name: case_person_photos case_person_photos_pkey; Type: CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.case_person_photos
    ADD CONSTRAINT case_person_photos_pkey PRIMARY KEY (id);


--
-- Name: case_person case_person_pkey; Type: CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.case_person
    ADD CONSTRAINT case_person_pkey PRIMARY KEY (id);


--
-- Name: cases cases_case_number_key; Type: CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_case_number_key UNIQUE (case_number);


--
-- Name: cases cases_pkey; Type: CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_pkey PRIMARY KEY (id);


--
-- Name: cctv_cameras cctv_cameras_camera_code_key; Type: CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.cctv_cameras
    ADD CONSTRAINT cctv_cameras_camera_code_key UNIQUE (camera_code);


--
-- Name: cctv_cameras cctv_cameras_pkey; Type: CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.cctv_cameras
    ADD CONSTRAINT cctv_cameras_pkey PRIMARY KEY (id);


--
-- Name: cctv_logs cctv_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.cctv_logs
    ADD CONSTRAINT cctv_logs_pkey PRIMARY KEY (id);


--
-- Name: face_embeddings face_embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT face_embeddings_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_phone_key; Type: CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_phone_key UNIQUE (phone);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: face_embeddings_vector_idx; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX face_embeddings_vector_idx ON public.face_embeddings USING ivfflat (embedding public.vector_cosine_ops) WITH (lists='100');


--
-- Name: idx_alerts_case; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_alerts_case ON public.alerts USING btree (case_id);


--
-- Name: idx_alerts_created; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_alerts_created ON public.alerts USING btree (created_at DESC);


--
-- Name: idx_alerts_person; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_alerts_person ON public.alerts USING btree (person_id);


--
-- Name: idx_alerts_status; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_alerts_status ON public.alerts USING btree (status);


--
-- Name: idx_alerts_type; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_alerts_type ON public.alerts USING btree (alert_type);


--
-- Name: idx_case_person_case; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_case_person_case ON public.case_person USING btree (case_id);


--
-- Name: idx_case_person_category; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_case_person_category ON public.case_person USING btree (category);


--
-- Name: idx_case_person_photos_embedding; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_case_person_photos_embedding ON public.case_person_photos USING btree (embedding_generated);


--
-- Name: idx_case_person_photos_person; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_case_person_photos_person ON public.case_person_photos USING btree (case_person_id);


--
-- Name: idx_case_person_photos_status; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_case_person_photos_status ON public.case_person_photos USING btree (status);


--
-- Name: idx_cases_assigned_admin; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_cases_assigned_admin ON public.cases USING btree (assigned_admin);


--
-- Name: idx_cases_created_by; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_cases_created_by ON public.cases USING btree (created_by);


--
-- Name: idx_cases_status; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_cases_status ON public.cases USING btree (status);


--
-- Name: idx_cases_type; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_cases_type ON public.cases USING btree (case_type);


--
-- Name: idx_cctv_location; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_cctv_location ON public.cctv_cameras USING btree (latitude, longitude);


--
-- Name: idx_cctv_logs_camera; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_cctv_logs_camera ON public.cctv_logs USING btree (camera_id);


--
-- Name: idx_cctv_logs_person; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_cctv_logs_person ON public.cctv_logs USING btree (detected_person_id);


--
-- Name: idx_cctv_logs_status; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_cctv_logs_status ON public.cctv_logs USING btree (detection_status);


--
-- Name: idx_cctv_logs_time; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_cctv_logs_time ON public.cctv_logs USING btree (detected_at DESC);


--
-- Name: idx_cctv_status; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_cctv_status ON public.cctv_cameras USING btree (status);


--
-- Name: idx_face_embeddings_person; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_face_embeddings_person ON public.face_embeddings USING btree (case_person_id);


--
-- Name: idx_face_embeddings_status; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_face_embeddings_status ON public.face_embeddings USING btree (embedding_status);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: safecity
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: one_primary_photo_per_person; Type: INDEX; Schema: public; Owner: safecity
--

CREATE UNIQUE INDEX one_primary_photo_per_person ON public.case_person_photos USING btree (case_person_id) WHERE (is_primary = true);


--
-- Name: unique_embedding_per_photo_model; Type: INDEX; Schema: public; Owner: safecity
--

CREATE UNIQUE INDEX unique_embedding_per_photo_model ON public.face_embeddings USING btree (photo_id, model_name, model_version);


--
-- Name: cases trg_case_admin_check; Type: TRIGGER; Schema: public; Owner: safecity
--

CREATE TRIGGER trg_case_admin_check BEFORE INSERT OR UPDATE ON public.cases FOR EACH ROW EXECUTE FUNCTION public.enforce_admin_assignment();


--
-- Name: case_person_photos trg_case_person_photos_updated; Type: TRIGGER; Schema: public; Owner: safecity
--

CREATE TRIGGER trg_case_person_photos_updated BEFORE UPDATE ON public.case_person_photos FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: case_person trg_case_person_updated; Type: TRIGGER; Schema: public; Owner: safecity
--

CREATE TRIGGER trg_case_person_updated BEFORE UPDATE ON public.case_person FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: cases trg_cases_updated; Type: TRIGGER; Schema: public; Owner: safecity
--

CREATE TRIGGER trg_cases_updated BEFORE UPDATE ON public.cases FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: cctv_cameras trg_cctv_cameras_updated; Type: TRIGGER; Schema: public; Owner: safecity
--

CREATE TRIGGER trg_cctv_cameras_updated BEFORE UPDATE ON public.cctv_cameras FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: users trg_users_updated; Type: TRIGGER; Schema: public; Owner: safecity
--

CREATE TRIGGER trg_users_updated BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: alerts alerts_acknowledged_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_acknowledged_by_fkey FOREIGN KEY (acknowledged_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: alerts alerts_camera_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_camera_id_fkey FOREIGN KEY (camera_id) REFERENCES public.cctv_cameras(id) ON DELETE SET NULL;


--
-- Name: alerts alerts_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(id) ON DELETE SET NULL;


--
-- Name: alerts alerts_cctv_log_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_cctv_log_id_fkey FOREIGN KEY (cctv_log_id) REFERENCES public.cctv_logs(id) ON DELETE SET NULL;


--
-- Name: alerts alerts_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.case_person(id) ON DELETE SET NULL;


--
-- Name: alerts alerts_resolved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT alerts_resolved_by_fkey FOREIGN KEY (resolved_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: case_person case_person_case_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.case_person
    ADD CONSTRAINT case_person_case_id_fkey FOREIGN KEY (case_id) REFERENCES public.cases(id) ON DELETE CASCADE;


--
-- Name: case_person_photos case_person_photos_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.case_person_photos
    ADD CONSTRAINT case_person_photos_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: case_person_photos case_person_photos_case_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.case_person_photos
    ADD CONSTRAINT case_person_photos_case_person_id_fkey FOREIGN KEY (case_person_id) REFERENCES public.case_person(id) ON DELETE CASCADE;


--
-- Name: case_person_photos case_person_photos_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.case_person_photos
    ADD CONSTRAINT case_person_photos_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: cases cases_assigned_admin_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_assigned_admin_fkey FOREIGN KEY (assigned_admin) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: cases cases_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.cases
    ADD CONSTRAINT cases_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: cctv_cameras cctv_cameras_installed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.cctv_cameras
    ADD CONSTRAINT cctv_cameras_installed_by_fkey FOREIGN KEY (installed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: cctv_logs cctv_logs_camera_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.cctv_logs
    ADD CONSTRAINT cctv_logs_camera_id_fkey FOREIGN KEY (camera_id) REFERENCES public.cctv_cameras(id) ON DELETE CASCADE;


--
-- Name: cctv_logs cctv_logs_detected_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.cctv_logs
    ADD CONSTRAINT cctv_logs_detected_person_id_fkey FOREIGN KEY (detected_person_id) REFERENCES public.case_person(id) ON DELETE SET NULL;


--
-- Name: cctv_logs cctv_logs_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.cctv_logs
    ADD CONSTRAINT cctv_logs_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: face_embeddings face_embeddings_case_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT face_embeddings_case_person_id_fkey FOREIGN KEY (case_person_id) REFERENCES public.case_person(id) ON DELETE CASCADE;


--
-- Name: face_embeddings face_embeddings_photo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: safecity
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT face_embeddings_photo_id_fkey FOREIGN KEY (photo_id) REFERENCES public.case_person_photos(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

